html, body {
    padding: 0;
    margin: 0;
    font-family: Courier;
    background-color: #556e75;
    color:#556e75;
}

.main {
    padding: 30px;
    background-color: #fef6e3;
}


.comments {
    background-color: #efe8d5;
    padding: 30px;
}

.comments p {
    background-color: #fef6e3;
    display: block;
    padding:10px;
    border: 1px solid #91a1a1;
    margin-top:10px;
}

.comments h3 {
    margin-bottom: 5px;
}


h1 {
    font-size: 45px;
    margin-bottom: 0px;
    display: inline-block;

}

.header {
    padding-bottom: 20px;
    border-bottom: 2px solid #566e75;
}

nav {
    float: right;
    display: inline-block;
    margin-top: 57px;
}

nav a {
    display: inline-block;
    text-decoration: none; 
    color:#556e75;   
}

nav a:hover {
    text-decoration: underline;
}

h1 a {
    text-decoration: none;
    color:#556e75;
}

h1 a b {
    color:#d8287f;
}

h2 {
    margin-top: 50px;
    margin-bottom: 5px;
    color: #00a299;
}

h3 {
    font-family: Courier;
}

em {
    margin-bottom: 20px;
    display: block;
    color: #d8287f;
}

p, ul {
    margin-top: 45px;
    max-width: 730px;
    line-height: 1.5;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.post{
     margin-top: 45px;
    max-width: 730px;
    line-height: 1.5;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.post a {
    color: #00a299;
}

.archive a {
    text-decoration: underline;
    color: #00a299;
}

input {
    max-width: 320px;
    width:100%;
}

input[type='submit'] {
    border:0;
    padding:10px;
    cursor:pointer;
    background-color: #d8287f;
    color: #fff;
}

textarea {
    max-width: 320px;
    width:100%;
    height:150px;
    border:0;
}

label{
    width:300px;
    display: block;
}

iframe {
    margin-top:20px;
}

